# R Notebook

## Libraries

In [1]:
library("DBI")
library("RSQLite")

In [2]:
# Unzip the custom database
zipfile <- "../data/ee-insee-2015_custom-sqlite.zip"
unzip(zipfile, exdir="../data/")

# Connect to the SQLite database
eedb_custom <- "../data/ee-insee-2015_custom.sqlite"
con <- dbConnect(RSQLite::SQLite(), dbname=eedb_custom)

# Load the database into an R dataframe
query <- "SELECT * FROM eec15_custom"
eec15_custom <- dbGetQuery(con, query)

# Take a look at the dataframe
head(eec15_custom)

# Disconnect
dbDisconnect(con)

  actop age5 dip11 sexe trim nfrred metrodom enfred catau2010r actop_ ⋯ male_
1 1     30   71    2    2    1      1        1      1          0      ⋯ 0
2 2     15   42    1    2    1      1        1      1          1      ⋯ 1
3 1     15   10    1    2    1      1        2      1          0      ⋯ 1
4 1     15   10    1    3    1      1        2      1          0      ⋯ 1
5 1     15   10    1    4    1      1        2      1          0      ⋯ 1
6 1     30   10    2    1    1      1        2      1          0      ⋯ 0
  etranger_ francais_ metropole_ domtom_ enfants_ region1_ region2_ region3_
1 0         1         1          0       1        1        0        0
2 0         1         1          0       1        1        0        0
3 0         1         1          0       0        1        0        0
4 0         1         1          0       0        1        0        0
5 0         1         1          0       0        1        0        0
6 0         1         1          0       0        1        0        0
  region4_
1 0
2 0
3 0
4 0
5 0
6 0

[1] TRUE