# R Notebook

## Libraries

In [1]:
library("DBI")
library("RSQLite")

In [2]:
# Unzip the custom database
zipfile <- "../data/ee-insee-2015_custom-sqlite.zip"
unzip(zipfile, exdir="../")

# Connect to the SQLite database
eedb_custom <- "../data/ee-insee-2015_custom.sqlite"
con <- dbConnect(RSQLite::SQLite(), dbname=eedb_custom)

# Load the database into an R dataframe
query <- "SELECT * FROM eec15_custom"
eec15_custom <- dbGetQuery(con, query)

# Take a look at the dataframe
head(eec15_custom)

# Disconnect
dbDisconnect(con)

  actop age5 dip11 sexe actop_ age40_ age50_ age60_ age30_ age15_ ⋯ dip41_
1 1     30   71    2    0      0      0      0      1      0      ⋯ 0
2 2     15   42    1    1      0      0      0      0      1      ⋯ 0
3 1     15   10    1    0      0      0      0      0      1      ⋯ 0
4 1     15   10    1    0      0      0      0      0      1      ⋯ 0
5 1     15   10    1    0      0      0      0      0      1      ⋯ 0
6 1     30   10    2    0      0      0      0      1      0      ⋯ 0
  dip42_ dip11_ dip50_ dip60_ dip10_ dip30_ dip31_ female_ male_
1 0      0      0      0      0      0      0      1       0
2 1      0      0      0      0      0      0      0       1
3 0      0      0      0      1      0      0      0       1
4 0      0      0      0      1      0      0      0       1
5 0      0      0      0      1      0      0      0       1
6 0      0      0      0      1      0      0      1       0

[1] TRUE